.NavbarContainer{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    box-shadow: 2px ;
    height: 70px;
    padding: 10px;
    background-color: white;
}

.navbarDrop{
    background-color: white;
    color: black;
    border:none;
}
.navbarDrop:hover{
    background-color: white;
    color: black;
    border:none;
    color: blueviolet;
}

.dropdown:hover .dropdown-menu {display: block;}

.Navbarlogo{
    font-size: 1.9rem;
    margin-left: -6px;
    margin-right: 4px;
    font-weight: 700;
}

.Navbarlogo:hover{
   cursor: pointer;;
}

.navbarDrop{
    font-size: 1.1rem;
    color: blueviolet;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-item:hover{
    /* color:rgb(219, 21, 160); */
    color:blueviolet;
    background-color: white;
}

/* search */
.searchbar{
    width:42%;
    background-color: white;
    /* background-color: red; */
    border-radius: 25;
    display:flex;
    align-items: center;
    border-radius: 30px;
    height: 100%;
}

.searchInput{
    height: 82%;
    background-color:rgb(255 246 233);
    padding: 3px 50px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    font-size :0.9rem;
}
.searchInput:focus{
    outline: none;
}

.searchicon{
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;
}

/* contact */
.navbarContact{
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navbarContact:hover{
    color: blueviolet;
}


.shoppingicon{
margin-left: 15px;

}

.shoppingicon:hover{
    color: blueviolet;
    cursor: pointer;
}


/* button */
.navbarBtn{
    width: 7%;
    border-radius: 16px;
    margin-left: 24px;
    color: blue;
    background-color: rgb(236, 247, 253);
    border: none;
    height: 38px;
}
.navbarBtn:hover{
    color: blue;
    background-color: rgb(222, 222, 255);
    border: none;
}

.navbarBtn2{
    border: none;
    width: 7%;
    border-radius: 16px;
    margin-left: 10px;
    color: white;
    background-color: rgb(77, 77, 252);
    height: 38px;
}

.navbarBtn2:hover{
    color: white;
    background-color: rgb(3, 3, 204);
}
